# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [2]:
samp_tuple = tuple(range(1,11))
print(samp_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [3]:
print(samp_tuple[0])  # Accessing the first element
print(samp_tuple[-1])  # Accessing the last element
print(samp_tuple[len(samp_tuple)//2])  # Accessing the middle element

1
10
6

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [4]:
print(samp_tuple[0:3])  # Slicing the first three elements
print(samp_tuple[3:])   
print(samp_tuple[2:6])

(1, 2, 3)
(4, 5, 6, 7, 8, 9, 10)
(3, 4, 5, 6)


### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [6]:
tupl = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print("Matrix:")
for row in tupl:
    print(row)
print("Second row third element:", tupl[1][2])  # Accessing the second row's third element

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Second row third element: 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [7]:
tupl1 = (1, 2, 3)
tupl2 = (4, 5, 6)
tupl3 = tupl1 + tupl2  # Concatenating tuples
print("Concatenated Tuple:", tupl3)

Concatenated Tuple: (1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [8]:
tupl_dupl = (1, 2, 3, 1, 2, 3)
print("Tuple with duplicates:", tupl_dupl)
print("Count of 1 in tuple:", tupl_dupl.count(1))
print("Index of 2 in tuple:", tupl_dupl.index(2))  # Finding the index of the first occurrence of 2
print("Length of tuple:", len(tupl_dupl))

Tuple with duplicates: (1, 2, 3, 1, 2, 3)
Count of 1 in tuple: 2
Index of 2 in tuple: 1
Length of tuple: 6

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [10]:
tupl_5 = (1, 2, 3, 4, 5)
a, b, c, d, e = tupl_5  # Tuple unpacking
print("Unpacked values:", a, b, c, d, e)

Unpacked values: 1 2 3 4 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [14]:
tupl6= tuple(list(range(1,6)))
print("Tuple created from range:", tupl6)

Tuple created from range: (1, 2, 3, 4, 5)


### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [15]:
tupl_1 = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tupl_1)

((1, 2, 3), (4, 5, 6), (7, 8, 9))


### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [16]:
tup = (1, 2, 3, 4, 5)
tup_list = list(tup)  # Converting tuple to list
tup_list.append(6)  # Modifying the list
tup = tuple(tup_list) 
print("Modified tuple:", tup)  # Converting back to tuple

Modified tuple: (1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [3]:
str_tup = ("a","m","a","z","o","n")
print("String tuple:", str_tup)
str = "".join(str_tup)  # Joining tuple elements to form a string
print("Joined string:", str)

String tuple: ('a', 'm', 'a', 'z', 'o', 'n')
Joined string: amazon

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [6]:
tpl_dict = {
    (1,2):1,
    (3,4):2,
    (5,6):3
}
print("Dictionary with tuple keys:", tpl_dict)
print("Value for key (1,2):", tpl_dict[(1,2)])

Dictionary with tuple keys: {(1, 2): 1, (3, 4): 2, (5, 6): 3}
Value for key (1,2): 1

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [7]:
nested_tup = ((1, 2), (3, 4), (5, 6))
print("Nested tuple:", nested_tup)
for sub_tup in nested_tup:
    for item in sub_tup:
        print(item, end=' ')

Nested tuple: ((1, 2), (3, 4), (5, 6))
1 2 3 4 5 6

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [8]:
tupl_dupl = (1, 2, 3, 1, 2, 3)
print("Tuple with duplicates:", tupl_dupl)
rem_dup = tuple(set(tupl_dupl))  # Removing duplicates by converting to set and back to tuple
print("Tuple after removing duplicates:", rem_dup)

Tuple with duplicates: (1, 2, 3, 1, 2, 3)
Tuple after removing duplicates: (1, 2, 3)

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [12]:
def tuple_operations(tup):
    print("Original tuple:", tup)
    print("maximum element:", max(tup))
    print("minimum element:", min(tup))
    print("Sum of elements:", sum(tup))
    print("Sorted tuple:", sorted(tup))
    print("Reversed tuple:", tuple(reversed(tup)))
tuple_operations((5, 3, 8, 1, 4))

Original tuple: (5, 3, 8, 1, 4)
maximum element: 8
minimum element: 1
Sum of elements: 21
Sorted tuple: [1, 3, 4, 5, 8]
Reversed tuple: (4, 1, 8, 3, 5)